Package: u-boot-pro-bananian
Version: 16.04.01
Architecture: armhf
Maintainer: Nico Isenbeck <contact@bananian.org>
Installed-Size: 1
Section: kernel
Priority: optional
Conflicts: u-boot-bananian, u-boot-m2-bananian
Description: Uboot loader for Bananian Linux on Banana Pro
