Package: linux-image-3.4-bananian
Version: 16.04.05
Architecture: armhf
Maintainer: Nico Isenbeck <contact@bananian.org>
Installed-Size: 1
Section: kernel
Priority: optional
Depends: linux-image-3.4.113-bananian (>= 16.04.05), linux-firmware-image (>= 16.04.01)
Description: Linux Kernel 3.4.x for Bananian
